<section class="faq" id="faq" data-scroll-section>
  <div class="container">
    <h2>FAQ</h2>
    <p class="item-text">Quick answers</p>
    <ul class="accordion-container" data-accordion>
      <li class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <span>Is Match 3 Jam beginner-friendly?</span>
            <svg class="arrow-icon">
              <use href="img/sprite.svg#down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            Absolutely! If you can match three things, you're good to go.
          </p>
        </div>
      </li>

      <li class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <span>Are there combo boosters?</span>
            <svg class="arrow-icon">
              <use href="img/sprite.svg#down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            Yes, multiple boosters help create larger chain reactions.
          </p>
        </div>
      </li>

      <li class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <span>Does the difficulty increase gradually?</span>
            <svg class="arrow-icon">
              <use href="img/sprite.svg#down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            Yes, new mechanics and obstacles appear over time.
          </p>
        </div>
      </li>

      <li class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <span>What style should the landing page follow?</span>
            <svg class="arrow-icon">
              <use href="img/sprite.svg#down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            Bright, colorful, energetic, and mobile-focused.
          </p>
        </div>
      </li>

      <li class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <span>Is the game designed for quick sessions?</span>
            <svg class="arrow-icon">
              <use href="img/sprite.svg#down"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            Yes, levels are optimized for casual mobile gameplay.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
