<section class="features">
  <div class="container">
    <div class="features-header">
      <h2>Features</h2>
      <p class="item-text">
        Made for mobile gaming that doesn't put you to sleep
      </p>
    </div>
    <!-- Swiper -->
    <div class="swiper" data-swiper>
      <div class="swiper-wrapper">
        <div class="swiper-slide card-yellow">
          <div class="card-icon">
            <svg class="card-icon-svg" width="32" height="32">
              <use href="img/sprite.svg#atars"></use>
            </svg>
          </div>
          <h3 class="card-title">
            Bright<br />
            Visual Effects
          </h3>
          <p class="card-text">
            Explosions and animations make every move feel rewarding.
          </p>
        </div>
        <div class="swiper-slide card-blue">
          <div class="card-icon">
            <svg class="card-icon-svg" width="32" height="32">
              <use href="img/sprite.svg#clock"></use>
            </svg>
          </div>
          <h3 class="card-title">
            Fast<br />
            Mobile Sessions
          </h3>
          <p class="card-text">
            Perfect for quick gaming sessions — whether you’ve got 2 minutes or
            20.
          </p>
        </div>
        <div class="swiper-slide card-green">
          <div class="card-icon">
            <svg class="card-icon-svg" width="32" height="32">
              <use href="img/sprite.svg#gamepad"></use>
            </svg>
          </div>
          <h3 class="card-title">
            Smooth<br />
            Puzzle Flow
          </h3>
          <p class="card-text">
            Smooth controls keep the puzzle flow fast, clear, and satisfying.
          </p>
        </div>
        <div class="swiper-slide card-purple">
          <div class="card-icon">
            <svg class="card-icon-svg" width="32" height="32">
              <use href="img/sprite.svg#brain"></use>
            </svg>
          </div>
          <h3 class="card-title">
            Progressive<br />
            Difficulty
          </h3>
          <p class="card-text">
            Things get trickier as you go, but it never feels unfair.
          </p>
        </div>
        <div class="swiper-slide card-orange">
          <div class="card-icon">
            <svg class="card-icon-svg" width="32" height="32">
              <use href="img/sprite.svg#solar_cup-outline"></use>
            </svg>
          </div>
          <h3 class="card-title">
            Reward-Based<br />
            Progression
          </h3>
          <p class="card-text">
            There’s always something new to unlock — from boosters to powerful
            power-ups.
          </p>
        </div>
        <div class="swiper-slide card-dark-purple">
          <div class="card-icon">
            <svg class="card-icon-svg" width="32" height="32">
              <use href="img/sprite.svg#rocket"></use>
            </svg>
          </div>
          <h3 class="card-title">
            Explosive<br />
            Combo Energy
          </h3>
          <p class="card-text">
            Trigger chain reactions, boosters, and colorful effects that make
            every match feel bigger.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
