<footer class="footer">
  <div class="container footer-container">
    <a href="index.html" class="footer-logo">
      <img
        src="img/logo-footer.svg"
        width="86"
        height="86"
        role="img"
        aria-label="Logo"
      />
    </a>
    <div class="footer-links">
      <a href="privacy.html">Privacy Policy</a>
      <span class="dot"></span>
      <a href="terms.html">Terms of Service</a>
    </div>
    <p class="footer-copy">&copy; 2026 coreplain.site — All rights reserved.</p>
  </div>
</footer>
