<header class="header">
  <div class="container header-container">
    <a href="index.html" class="header-logo">
      <img
        src="img/logo-mob.svg"
        class="header-logo-svg"
        width="54"
        height="54"
        role="img"
        aria-label="Logo"
      />
    </a>
    <button
      class="btn burger-btn"
      type="button"
      aria-label="open menu"
      data-menu-open
    >
      <svg width="40" height="40">
        <use href="img/sprite.svg#burger"></use>
      </svg>
    </button>
    <div class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="#about" data-scroll-spy>About</a></li>
        <li class="nav-item"><a href="#how" data-scroll-spy>How to Play</a></li>
        <li class="nav-item">
          <a href="#features" data-scroll-spy>Features</a>
        </li>
        <li class="nav-item"><a href="#faq" data-scroll-spy>FAQ</a></li>
        <li class="nav-item"><a href="#contact" data-scroll-spy>Contact</a></li>
      </ul>
      <a
        class="btn btn-google"
        href="https://play.google.com/store/apps/details?id=com.messworks.match3.jam&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg width="29" height="33">
          <use href="img/sprite.svg#playstore"></use>
        </svg>
        <svg width="99" height="40">
          <use href="img/sprite.svg#google-play"></use>
        </svg>
      </a>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="mobile-overlay" data-menu-overlay></div>
  <div class="mobile" data-menu data-visible="close">
    <div class="mobile-container">
      <div class="header-box">
        <button
          class="btn btn-close"
          type="button"
          aria-label="close menu"
          data-menu-close
        >
          <svg class="burger-btn-icon" width="40" height="40">
            <use href="img/sprite.svg#close"></use>
          </svg>
        </button>
      </div>
      <ul class="mobile-list">
        <li class="mobile-list-item">
          <a href="#about" data-scroll-spy>About</a>
        </li>
        <li class="mobile-list-item">
          <a href="#how" data-scroll-spy>How to Play</a>
        </li>
        <li class="mobile-list-item">
          <a href="#features" data-scroll-spy>Features</a>
        </li>
        <li class="mobile-list-item"><a href="#faq" data-scroll-spy>FAQ</a></li>
        <li class="mobile-list-item">
          <a href="#contact" data-scroll-spy>Contact</a>
        </li>
      </ul>
      <a
        class="btn btn-google btn-mobile"
        href="https://play.google.com/store/apps/details?id=com.messworks.match3.jam&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg width="36" height="41">
          <use href="img/sprite.svg#playstore"></use>
        </svg>
        <svg width="123" height="50">
          <use href="img/sprite.svg#google-play"></use>
        </svg>
      </a>
    </div>
  </div>
</header>
