<section class="how-to-play" id="how">
  <div class="container">
    <h2>How to Play</h2>
    <p class="item-text">Easy mechanics with explosive results.</p>
    <ul class="card-list">
      <li class="card">
        <span class="blue circle">1</span>
        <div class="text-wrapper">
          <h3>Match Puzzle Pieces</h3>
          <p>Combine three or more identical&nbsp;elements.</p>
        </div>
      </li>
      <li class="card">
        <span class="violet circle">2</span>
        <div class="text-wrapper">
          <h3>Trigger Combo Chains</h3>
          <p>Large matches activate special&nbsp;effects and boosters.</p>
        </div>
      </li>
      <li class="card">
        <span class="orange circle">3</span>
        <div class="text-wrapper">
          <h3>Complete Level Objectives</h3>
          <p>Clear targets to progress through stages.</p>
        </div>
      </li>
      <li class="card">
        <span class="green circle">4</span>
        <div class="text-wrapper">
          <h3>Unlock Powerful Boosters</h3>
          <p>Use rockets, bombs, and combo&nbsp;multipliers strategically.</p>
        </div>
      </li>
      <li class="card">
        <span class="red circle">5</span>
        <div class="text-wrapper">
          <h3>Progress Through New&nbsp;Challenges</h3>
          <p>Levels gradually introduce fresh mechanics and obstacles.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
