.back-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #2f2d3a;
    border-radius: 26px;

    width: 60px;
    /* height: 40px; */
    padding: 6px 0 6px 0;
    transition: transform 200ms ease, border-color 200ms ease, background-color 200ms ease;
}

.back-link:hover {
    transform: scale(1.1);
    border-color: #7938e1;
    background-color: #7938e1;
    ;
}

@media only screen and (min-width: 1440px) {
    .back-link {
        border-radius: 36px;
        width: 85px;
        /* height: 56px; */
        padding: 2px 0 2px 0;

    }
}

.back-link-icon {
    stroke-width: 2px;
    stroke: #2f2d3a;
    transition: stroke 200ms ease;

}

.back-link:hover .back-link-icon {
    stroke: #f1f7fe;
}

@media only screen and (min-width: 1440px) {
    .back-link-icon {
        width: 32px;
        height: 32px;

    }
}