.header {

  background: rgba(255, 255, 255, 0.32);

}

@media only screen and (min-width: 1440px) {
  .header {
    max-width: 1440px;
    font-weight: 600;

  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

@media only screen and (min-width: 1440px) {
  .header-container {
    padding: 12px 72px;
  }
}

.header-logo {
  display: flex;
  justify-content: center;
  width: 54px;
  height: 54px;
  cursor: pointer;

}

.burger-btn {
  border: none;
  background: transparent;
}

@media only screen and (min-width: 1440px) {
  .burger-btn {
    display: none;
  }
}

.nav {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .nav {
    display: flex;
    gap: 48px;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 48px;
}

.btn-google {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border: 1px solid #a6a6a6;
  border-radius: 8px;
  width: 162px;
  height: 54px;
  background: #000;
}

.btn-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;

  border-radius: 10px;
  width: 201px;
  height: 67px;

}

.btn-close {
  border: none;
  background: transparent;
  stroke: #e7e7e7;
  ;
}

.mobile-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 998;
  /* на 1 ниже меню */
}

.mobile-overlay.visible {
  display: block;
}

.mobile {
  position: fixed;
  top: 0;
  right: 0;

  width: 75%;
  max-width: 375px;
  height: 100%;

  background: linear-gradient(225deg, #83c5fd 0%, #7938e1 85.48%);

  z-index: 999;

  transform: translateX(100%);
  transition: transform 300ms ease;

  overflow-y: auto;
}

.mobile-container {
  display: flex;
  flex-direction: column;

  padding: 0 24px;
}

.header-box {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.mobile-list {
  margin-top: 60px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-list-item {
  padding-bottom: 12px;
  border-bottom: 1px solid #f2b544;
}

.mobile-list-item a {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

[data-menu][data-visible='close'] {
  /* убрать display: none */
  transform: translateX(100%);
  /* ← скрыто за правым краем */
  pointer-events: none;
}

[data-menu][data-visible='open'] {
  /* убрать display: flex */
  transform: translateX(0);
  pointer-events: auto;
}