.hero {
  /* width: 375px; */
  margin: 0 auto;
  background-image: url(../img/hero/hero-fon-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 375px;
}

.hero .container {
  padding: 0 20px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 33px;
}

.hero-image {
  width: 265px;
  height: 179px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
}

.hero-title {
  width: 221px;
  padding-top: 70px;
  padding-bottom: 8px;
  font-family: 'Fredoka', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  background: linear-gradient(180deg, #39024c 0%, #671fda 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  padding-bottom: 20px;
  font-weight: 500;
  text-align: center;
  color: #004bc0;
}

.hero .btn-google {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  width: 168px;
  height: 56px;
  margin: 0 auto;
  background-color: #000000;
  border: 1px solid #a6a6a6;
  border-radius: 9px;
}

.hero .btn-google:hover {
  transform: scale(1.1);
}

.playstore-icon {
  width: 29px;
  height: 34px;
}

.google-play-icon {
  width: 99px;
  height: 40px;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/hero/hero-fon-mob@2x.png);
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    width: 1296px;
    margin: 32px auto 50px;
    padding: 124px 255px;
    background-image: url(../img/hero/hero-fon-desc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1296px;
    border-radius: 24px;
  }

  .hero .container {
    padding: 0;
  }

  .hero-wrapper {
    width: 100%;
    padding: 60px 60px 48px;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 40px;
  }

  .hero-image {
    width: 666px;
    height: 120px;
    padding: 0;
    background-color: transparent;
    border-radius: 16px;
  }

  .hero-title {
    width: 580px;
    padding-top: 10px;
    font-size: 48px;
  }

  .hero-text {
    padding-bottom: 50px;
    font-size: 20px;
  }

  .hero .btn-google {
    width: 312px;
    height: 104px;
    border-radius: 16px;
  }

  .playstore-icon {
    width: 55px;
    height: 62px;
  }

  .google-play-icon {
    width: 190px;
    height: 90px;
  }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/hero/hero-fon-desc@2x.png);
  }
}